.championsNavBar {
  font-size: 1rem;
  background-color: $black;
  color: $white;
  height: 5vh;
  align-items: center;
  padding: 0 2.6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  z-index: 1;

  &__search {
    justify-self: start;
    display: flex;
    height: 70%;

    &__title {
      padding-right: 0.8em;
      font-size: 3.2em;
      height: 100%;
      display: grid;
      place-items: center;
    }

    &__champion {
      border: none;
      height: 100%;
      padding: 0 5px;
      width: 8em;
      font-size: 2em;
    }
  }

  &__links {
    height: 70%;
    justify-self: center;
    display: flex;

    &__link {
      height: 100%;
      width: 100%;
      cursor: pointer;
      background-color: $white;
      width: 7em;
      color: black;
      text-decoration: none;
      display: grid;
      place-items: center;
      font-size: 2em;

      &:hover {
        background-color: $blue-darkest;
      }

      &--active {
        background-color: $blue-lightest;
      }
    }
  }

  &__languageSelector {
    height: 70%;
    justify-self: end;
    width: 25em;

    &:hover {
      .championsNavBar__languageSelector__languages {
        height: 300px;
      }
    }

    &__button {
      height: 100%;
      width: 100%;
      background-color: $white;
      font-size: 2em;
    }

    &__languages {
      background-color: $black;
      position: absolute;
      width: 25em;
      height: 0;
      overflow: auto;
      transition: all 0.3s;

      &__language {
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: $blue-lightest;
          color: $black;
        }

        &--active {
          background-color: white;
          color: black;
        }

        &__name,
        &__region {
          display: block;
          font-size: 2em;
        }

        &__region {
          font-size: 1.1em;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    font-size: 0.7rem;
  }

  @media only screen and (max-width: 900px) {
    font-size: 0.6rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 0.5rem;
    padding: 0 1rem;

    &__search {
      &__title {
        display: none;
      }

      &__champion {
        width: 8em;
      }
    }

    &__links {
      &__link {
        width: 7em;
      }
    }

    &__languageSelector {
      width: 20em;

      &__languages {
        &__language {
          &__region {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
